__pycache__/
output/images/*.jpg
output/logs/*.log
output/posters/*.jpg
output/reports/*.xlsx
output/uploads/*.mp4
*.png
*.jpg
*.jpeg
*.webp
.env
*.pyc
models/*.pt
node_modules/
*.exe
*cfg
venv/
*.whl
*.zip
*.md